/*************************************************
 *  Pager.
 **************************************************/

.post-nav {
  //margin-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  margin: 1px -1rem 0.5rem;
}

.post-nav-item {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;

  &:hover {
    background-color: rgba(127, 127, 127, 0.2);
  }

  hyphens: auto;
  word-wrap: break-word;
}

.post-nav-item a {
  color: #2b2b2b;
  line-height: 1.7;
  text-transform: none;
}

.post-nav-item .meta-nav {
  color: #767676;
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}

.dark .post-nav-item a {
  color: #ddd;
}
