
h1 {
  font-size: 1.7rem;
  font-weight: bolder;
}

.wg-blank {
  align-self: center;
  width: 100%;
  max-width: 1024px;

  & > .container > .row {
    & > div:first-child {
      // title
      & > h1 {

      }

      // subtitle
      & > p {
        font-size: 0.8rem;
      }
    }

    // content
    & > div:nth-child(2) {
      & > *:first-child {
        margin-top: 0 !important;
      }
    }
  }
}


.card-simple,
.pagination li > a {
  background-color: transparent !important;

  backdrop-filter: brightness(1.05) !important;
  -webkit-backdrop-filter: brightness(1.05) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.dark {
  .card-simple,
  .pagination li > a {
    backdrop-filter: brightness(1.5) !important;
    -webkit-backdrop-filter: brightness(1.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
  }
}