{{ $scr := .Scratch }}
{{ $params := .Params }}

{{/* Pre-connect to Google Fonts if the site's Font Theme uses them. */}}
{{ with ($scr.Get "google_fonts") }}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
{{ end }}
{{/* Load Google Fonts if the site's Font Theme uses them. */}}
{{/* Note: we cannot use SRI with Google Fonts because the CSS is dynamically generated according to the user agent. */}}
{{ with ($scr.Get "google_fonts") }}
  {{ if hasPrefix . "family=" }}
    {{/* If `google_fonts` starts with "family=", use API v2 (https://developers.google.com/fonts/docs/css2) */}}
    <link
      rel="preload"
      as="style"
      {{ printf "href=\"https://fonts.googleapis.com/css2?%s&display=swap\"" . | safeHTMLAttr }}
    />
    <link
      rel="stylesheet"
      {{ printf "href=\"https://fonts.googleapis.com/css2?%s&display=swap\"" . | safeHTMLAttr }}
      media="print"
      onload="this.media='all'"
    />
  {{ else }}
    {{ errorf "There is a new version of Google Fonts. " }}
  {{ end }}
{{ end }}
